<!doctype html>
<html>
        <body>
                <div style='background-image:url('https://images.ctfassets.net/4zfc07om50my/4Ch0OavFtJ2VfTrDZU91Qo/
7a55ed7df533502de3f115fae257c083/is-there-a-squirrel-in-your-office.jpg?w=1200&q=50')>
                        <h3>Some interesting Stat about sighted squirrels</h3>
                        <p>
                        <ul>
                                <li> Thereare {{ num_q }} squirrels in total.</li>
                                <li> The average latitude they were found is {{ avg_lati }}. </li>
                                <li> The average longitude they were found is {{ avg_longi }}. </li>
                                <li> Number of squirrels are adult: {{ num_ad }} </li>
                                <li> Number of squirrels are juvenile: {{ num_j }} </li>
                                <li> Number of squirrels sighted in AM: {{ num_am }} </li>
                                <li> Number of squirrels sighted in PM: {{ num_pm }} </li>
                        </ul>
                        </p>
                </div>  
        </body> 
</html>
